    <form method="get" action="/quizes/<%= quiz.id %>/answer">
    	<strong>Pregunta</strong>: <%= quiz.pregunta %> <p>
		<button type="submit" class="boton aRight"><i class="fa fa-check fa-lg"></i></button>
    	<input class="aRight" type="text" name="respuesta" placeholder="Respuesta"/>
	</form>
	<br/><br/>
	<div class="comentarios">	
		<p><a href="/quizes/<%= quiz.id %>/comments/new" class="aRight"><i class="fa fa-plus-square-o fa-lg"></i></a> <strong>Comentarios</strong></p>
		<br/>
		<form class="" method="post" action= "">
			<ul>
			<%for (index in quiz.Comments) { %>
				<%if (quiz.Comments[index].publicado || session.user) {%>
				<li class="<%= quiz.Comments[index].publicado ? '' : 'noPublicado'%>"><%=quiz.Comments[index].texto%>
					<%if (session.user && !quiz.Comments[index].publicado) {%>
						<button type="submit" class="aRight desnudo" formmethod="post" formaction="/quizes/<%=quiz.id%>/comments/<%=quiz.Comments[index].id%>/publish?_method=put"><i class="fa fa-cloud-upload fa-lg"></i></button>
					<% } %>
				</li>
				<% } %>
			<% } %>
			</ul>
		</form>
	</div>

